@import 'src/styles.scss';

.sidebar {
  background-color: $busi-color;
  height: 100vh;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
  .logo {
    width: 50px;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}

.menu-content {
  padding-left: 1rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 15px 100px;
  column-gap: 25px;
  .icon {
    scale: 1.4;
    justify-self: center;
  }
}

.profile {
  display: grid;
  grid-template-columns: 15px 175px;
  column-gap: 10px;
  .icon {
    scale: 2;
    justify-self: center;
  }
  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
