<div class="flex min-h-0 flex-1 flex-col sidebar">
  <div class="flex flex-1 flex-col overflow-y-auto pt-5 pb-4">
    <div class="flex flex-shrink-0 items-center px-4">
      <img class="h-8 w-auto" src="assets/img/busi-logo.png" alt="BuSi" />
    </div>
    <nav class="mt-5 flex-1 space-y-1 px-2" aria-label="Sidebar">
      <a class="text-white items-center px-2 py-2 text-sm font-medium rounded-md menu-content hover:bg-indigo-600">
        <fa-icon class="text-indigo-300 icon" [icon]="faInbox"></fa-icon>
        <span class="flex-1">Inbox</span>
      </a>
      <a class="text-white items-center px-2 py-2 text-sm font-medium rounded-md menu-content hover:bg-indigo-600">
        <fa-icon class="text-indigo-300 icon" [icon]="faEnvelope"></fa-icon>
        <span class="flex-1">Not read</span>
      </a>
      <a class="text-white items-center px-2 py-2 text-sm font-medium rounded-md menu-content hover:bg-indigo-600">
        <fa-icon class="text-indigo-300 icon" [icon]="faClipboardQuestion"></fa-icon>
        <span class="flex-1">Not voted</span>
      </a>
      <a class="text-white items-center px-2 py-2 text-sm font-medium rounded-md menu-content hover:bg-indigo-600">
        <fa-icon class="text-indigo-300 icon" [icon]="faClipboardCheck"></fa-icon>
        <span class="flex-1">Voted</span>
      </a>
      <a class="text-white items-center px-2 py-2 text-sm font-medium rounded-md menu-content hover:bg-indigo-600">
        <fa-icon class="text-indigo-300 icon" [icon]="faCheckToSlot"></fa-icon>
        <span class="flex-1">Summary</span>
      </a>
    </nav>
  </div>
  <div class="flex flex-shrink-0 border-t border-indigo-800 p-4">
    <a class="group block w-full flex-shrink-0">
      <div class="flex items-center">
        <div>
          <img class="inline-block h-9 w-9 rounded-full" src="assets/img/blank-profile.svg" alt="" />
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-white">Nguyen Hoang</p>
        </div>
      </div>
    </a>
  </div>
</div>
