@import 'src/styles.scss';

.sidebar {
  background-color: $busi-color;
  width: 250px;
  height: 100vh;
}

.menu-content {
  padding-left: 1rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 15px 1fr;
  column-gap: 25px;
  .icon {
    scale: 1.4;
    justify-self: center;
  }
}
