@import 'src/styles.scss';

.line {
  margin: 1rem 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  column-gap: 2rem;
  row-gap: 1rem;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: 35px 60% 20px;
  align-items: center;
  column-gap: 1rem;
  background-color: $busi-color;
  color: white;
  border-radius: 5px;
  padding: 5px;
  .text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .rank {
    font-size: 20px;
  }
}
