<form class="grid-form w-3/12 m-auto">
  <div>
    <label for="Sender" class="block text-sm font-medium text-gray-700">Sender</label>
    <div class="mt-1">
      <input
        type="email"
        name="Sender"
        id="Sender"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        placeholder="Sender@example.com" />
    </div>
  </div>
  <div>
    <label for="Receiver" class="block text-sm font-medium text-gray-700">Receiver</label>
    <div class="mt-1">
      <input
        type="email"
        name="Receiver"
        id="Receiver"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        placeholder="Receiver@example.com" />
    </div>
  </div>
  <div>
    <label for="Subject" class="block text-sm font-medium text-gray-700">Subject</label>
    <div class="mt-1">
      <input
        type="text"
        name="Subject"
        id="Subject"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        placeholder="Subject" />
    </div>
  </div>
</form>
